

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: whitesmoke;
}



.header{
  position: sticky;
  top:100px;
  
  
  text-align: center;
}


.productFrame {
  max-width: 75%;
}
.productFrame img {
  width: 100%
}
  
.products {
  margin-top: 25%;
}

.bm-overlay{
  background-color: grey;
}
.player-wrapper {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto; 
  height: auto; 
}
.react-player {
  
  
  padding-top: 5%;
  padding-bottom: 41%;
  
  position: relative;
  height: 100%; 
}

.react-player > div {
  position: absolute; 
}



.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50px;
}

.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 60px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.leadsButton {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #60a3bc;
      padding: 10px;
      border-radius: 60px;
      display: inline-block;
      border: none;
      transition: all 0.4s ease 0s;
      text-align: center;
      margin-top: 15%
}
    
.leadsButton:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
}

.example_f {
  border-radius: 4px;
  background: linear-gradient(to right, #b2c3ca, #4ca2cb, #b7c8cf) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 18px;
  width: 175px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  
}
.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.example_f:hover span {
  padding-right: 25px;
}
.example_f:hover span:after {
  opacity: 1;
  right: 0;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
  align-items: center;
  max-width: 80%;
  
}


.leadsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
  
  
  

}
section {
  
}

form {
  
  
}